@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-button::after {
  content: "";
  left: 47px;
  bottom: 45px;
  position: relative;
  display: block;
  width: 6px;
  height: 50px;
  background-color: #212222;
  border-radius: 6px 0 0 6px;
  opacity: 0;
  transition: opacity 0.3s;
}

.navbar-button.selected::after {
  opacity: 1;
}
